body {
    font-family: open sans,tahoma,sans-serif;
}
input {
    display: block;
    margin-bottom: 3px;
    padding-left: 3px;
}

label {
    font-size: 14px;
}

td {
    vertical-align: bottom;
}

textarea {
    vertical-align: top;
}

input, textarea {
    margin-bottom: 4px;
    padding: 6px 12px;
    font-size: 14px;
    font-family: open sans,tahoma,sans-serif;
    color: #555;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: none;
    line-height: normal;
    transition: border .2s linear;
}

th, td {
    width: 185px;
    padding-right: 10px;
    padding-left: 0;
}

.input-group {
    margin-left: auto;
}

td input {
    width: 100%;
}

.inline-block {
    display: inline-block;
}

.material-attribute {
    width: 60%;
}

.size-attribute {
    width: 80%;
}

.pre-white-space {
    white-space: pre;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.btn {
    margin-left: 2px;
}

tr th:last-child, tr td:last-child {
    padding-right: 0;
}

@media only screen and (max-width: 767px) {
    .block-sm {
        display: block;
    }
    textarea {
        width: 100%;
        margin-top: 10px;
    }
}