<!doctype html>
<html lang="en" ng-app="manageDataApp">
<head>
    <title>Web developer Assignment - David Ricardo</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="app.css">
</head>
<body>
<div ng-controller="ManageDataController as manageData">
    <form ng-submit="manageData.generateTable()">
        <table>
            <tr>
                <th>Attribute name</th>
                <th>Attribute values (comma separated)</th>
            </tr>
            <tr>
                <td><input type="text" value="color" disabled></td>
                <td><input type="text" ng-model="manageData.color"></td>
            </tr>
            <tr>
                <td><input type="text" value="size" disabled></td>
                <td><input type="text" ng-model="manageData.size"></td>
            </tr>
            <tr>
                <td><input type="text" value="material" disabled></td>
                <td><input type="text" ng-model="manageData.material"></td>
            </tr>
        </table>
        <input class="btn" type="submit" value="Generate Structure">
    </form>

    <hr>

    <div class="flex-between block-sm">
        <form class="inline-block" ng-submit="manageData.generateJSON()">
            <div ng-repeat="(key, colorGroup) in manageData.colorGroupList.variation">
                <table>
                    <tr ng-if="key === 0">
                        <th>Variant</th>
                        <th>Price</th>
                        <th>Stock</th>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                <label>Color</label>
                                <input type="text" ng-value="colorGroup.name" disabled>
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <table ng-repeat="sizeGroup in colorGroup.variation[0].variation">
                        <tr>
                            <td>
                                <div class="input-group size-attribute">
                                    <label>Size</label>
                                    <input type="text" ng-value="sizeGroup.name" disabled>
                                </div>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group material-attribute">
                                    <label>Material</label>
                                    <input ng-repeat="materialGroup in sizeGroup.variation[0].variation" type="text" ng-value="materialGroup.name" disabled>
                                </div>
                            </td>
                            <td>
                                <input type="text" ng-repeat="materialGroup in sizeGroup.variation[0].variation" ng-model="materialGroup.cost"
                                       ng-change="materialGroup.totalcost = materialGroup.cost">
                            </td>
                            <td>
                                <input type="text" ng-repeat="materialGroup in sizeGroup.variation[0].variation" ng-model="materialGroup.stock"
                                       ng-change="
                                   sizeGroup.stock = manageData.updateSizeStock(sizeGroup);
                                   colorGroup.stock = manageData.updateColorStock(colorGroup);
                                   manageData.colorGroupList.stock = manageData.updateTotalStock(manageData.colorGroupList);">
                            </td>
                        </tr>
                    </table>
                </table>
            </div>
            <input class="btn" ng-if="manageData.colorList.length" type="submit" value="Generate JSON">
        </form>
        <textarea ng-if="manageData.generatedJSON" readonly class="inline-block" cols="70" rows="30" spellcheck="false">{{manageData.generatedJSON}}</textarea>
    </div>
</div>
</body>
</html>